<h1>Location List</h1>

<style>

</style>

<div class="flexcontainer">
    {% for location in locations.results %}
        <div class="flexcontainer flexcolumn charactercard">
            <h3>{{ location.name }}</h3>
            <a href="{{ path('location_show', { id: location.id }) }}">GO!
            </a>
        </div>
    {% endfor %}
</div>

