<h1>Location List</h1>

<style>
    * {
        font-family: sans-serif;
    }
    .flexcontainer {
        display: flex;
        flex-wrap: wrap;
    }
    .flexcolumn {
        flex-direction: column;
    }
    .charactercard {
        border-radius: 2rem;
        margin: 1rem;
        padding: 1rem;
        border: solid 1px black;
    }
</style>

<div class="flexcontainer">
    {% for location in locations.results %}
        <div class="flexcontainer flexcolumn charactercard">
            <h3>{{ location.name }}</h3>
            <a href="{{ path('location_show', { id: location.id }) }}">GO!
            </a>
        </div>
    {% endfor %}
</div>

