{% extends 'base.html.twig' %}

{% block content %}

    <a href="{{ path('location_index', { page: 1 }) }}">
        <div class="rambutton">
            Locations
        </div>
    </a>

    <table>
        <tr class="item-name">
            <td colspan="2">{{ location.name }}</td>
        </tr>
        <tr class="item-attribute">
            <td>Type:</td>
            <td>{{ location.type }}</td>
        </tr>
        <tr class="item-attribute">
            <td>Dimension:</td>
            <td>{{ location.type }}</td>
        </tr>
    </table>

{% endblock %}





