{% extends 'base.html.twig' %}

{% block content %}

    <a href="{{ path('dimension_index', { page: 1 }) }}">
        <div class="rambutton">
            Dimensions
        </div>
    </a>

    <div class="flexcontainer">
        {% for dimension in dimensions %}
            <div class="flexcontainer flexcolumn card locationcard">
                <a href="{{ path('dimension_show', { name: dimension, page: 1 }) }}">
                    <h4>{{ dimension }}</h4>
                </a>
            </div>
        {% endfor %}
    </div>


{% endblock %}



