<div>
    <h1>Your lucky letter is {{ letter }}</h1>
</div>
<div>
    <a href="{{ path('number') }}">Generate a lucky number!</a>
</div>
<div>
    <img src="{{ asset('images/logo.png') }}" alt="Symfony!">
</div>

<a href="{{ path('characters') }}">Characters!</a>