@font-face {
    font-family: 'get_schwifty';
    src: url('./fonts/get_schwifty/get_schwifty.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: quicksand;
    src: url('./fonts/Quicksand/Quicksand-VariableFont_wght.ttf');
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    align-items: center;
    background-color: #181736;
    background: url('../../public/images/starrysky.jpg');
    display: flex;
    font-family: get_schwifty, sans-serif;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

h2 {
    font-family: quicksand, sans-serif;
    font-size: 2.5rem;
    font-weight: 100;
    margin: 2rem;
}

h3 {
    color: white;
    font-size: 3rem;
    margin: 2rem;
}

h4 {
    color: black;
    font-size: 2.5rem;
    margin: 1rem;
}

#content {
    color: deeppink;
    padding: 4rem;
    text-align: center;
    width: 100%;
}

#rambanner {
    margin-top: 2rem;
    width: 100%;
}

#ramlogo {
    max-width: 50rem;
    min-width: 6rem;
    width: 100%;
}

.bullet {
    color: transparent;
}

.characterimage {
    border: solid 1.5rem white;
}

.flexcolumn {
    flex-direction: column;
}

.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.flexcontainer.pagination {
    color: white;
    justify-content: space-between;
    margin-top: -2rem;
    width: 100%;
}

.flexcontainer.charactercard {
    background: white;
    border: solid 1px black;
    margin: 1rem;
    padding: 1rem;
    width: fit-content;
}

.previous, .next {
    color: white;
}

.rambutton {
    background: white;
    border: solid 10px #BFDE42;
    height: 8rem;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    font-size: 3rem;
    color: black;
}
