@font-face {
    font-family: 'get_schwifty';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/get_schwifty/get_schwifty.ttf');
}

@font-face {
    font-family: quicksand;
    font-style: normal;
    font-weight: 400 800;
    src: url('./fonts/Quicksand/Quicksand-VariableFont_wght.ttf');
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    align-items: center;
    background: #181736 url('../../public/images/starrysky.jpg');
    background-size: 100vh;
    display: flex;
    font-family: get_schwifty, sans-serif;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

h2 {
    font-family: quicksand, sans-serif;
    font-size: 2.5rem;
    font-weight: 100;
    margin: 2rem;
}

h3 {
    color: white;
    font-size: 3rem;
    margin: 2rem;
}

h4 {
    color: black;
    font-size: 2.5rem;
    margin: 1rem;
}

table {
    border: solid 0.5rem #42B4C9;
    color: black;
    font-family: quicksand, sans-serif;
    font-size: 2rem;
    width: 100%;
    margin-bottom: 2rem;
}

table#dimensiontable {
    margin-bottom: 0;
}

td {
    height: 2rem;
    padding: 2rem;
}

td, tr {
    border-collapse: collapse;
    border-right: none;
    font-size: 2.5rem;
}

#content {
    color: deeppink;
    padding: 4rem;
    text-align: center;
    width: 100%;
}

#rambanner {
    margin-top: 2rem;
    width: 100%;
    border: solid black 0.5rem;
}

#ramlogo {
    max-width: 50rem;
    min-width: 6rem;
    width: 100%;
}

.bullet {
    color: transparent;
}

.characterimage {
    border: solid 0.5rem white;
    margin: 0 0 2rem 0;
}

.flexcolumn {
    flex-direction: column;
}

.flexcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.flexcontainer.pagination {
    color: white;
    justify-content: space-between;
    width: 100%;
}

.flexcontainer.card {
    background: white;
    border: solid 0.2rem black;
    margin: 1rem;
    padding: 1rem;
    width: fit-content;
}

.flexcontainer.locationcard {
    background: white;
    width: 100%;
    border: solid 0.5rem #42B4C9;
    font-family: quicksand, sans-serif;
}

.item-attribute {
    background: white;
}

.item-name {
    background: gold;
    color: black;
    font-family: quicksand, sans-serif;
    font-size: 3rem;
    font-weight: 800;
}

.previous, .next {
    color: white;
}

.rambutton {
    align-items: center;
    background: #BFDE42;
    border: solid 0.5rem #42B4C9;
    border-radius: 4rem;
    color: black;
    display: flex;
    font-size: 3rem;
    height: 8rem;
    justify-content: center;
    margin: 2rem;
}
