@font-face {
    font-family: 'get_schwifty';
    src: url('./fonts/get_schwifty/get_schwifty.ttf');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: get_schwifty, sans-serif;
    box-sizing: border-box;
    /*border: dotted grey 1px;*/
}

body {
    background-color: #181736;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

#content {
    text-align: center;
    color: deeppink;
    padding: 6rem;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

h1 {
    color: #24c7e0;
    -webkit-text-fill-color: #24c7e0;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 8rem;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #9FCA3C, 0 0 40px #9FCA3C, 0 0 50px #9FCA3C, 0 0 60px #9FCA3C, 0 0 70px #9FCA3C;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #00ab2d, 0 0 40px #00ab2d, 0 0 50px #00ab2d, 0 0 60px #00ab2d, 0 0 70px #00ab2d, 0 0 80px #00ab2d;
    }
}

h2 {
    font-family: Verdana;
    font-size: 4rem;
    margin: 2rem;
}

#rambutton {
    background: lightyellow;
    height: 8rem;
    width: 70vw;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
    font-size: 3rem;
}

.flexcontainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.flexcolumn {
    flex-direction: column;
}
.charactercard {
    border-radius: 2rem;
    margin: 1rem;
    padding: 1rem;
    border: solid 1px black;
    background: red;
}
