<h1>HOME</h1>

<h3>Characters</h3>
<ul>
    <li>
        <a href="{{ path('character_index') }}">List</a>
    </li>
</ul>

<h3>Locations</h3>
<ul>
    <li>
        <a href="{{ path('location_index') }}">List</a>
    </li>
</ul>
