<h1>HOME</h1>

<h3>Characters</h3>
<ul>
    <li>
        <a href="{{ path('character_list') }}">List</a>
    </li>
    <li>
        <a href="{{ path('character_show', {name: 'Rick'}) }}">Show all Ricks</a>
    </li>
    <li>
        <a href="{{ path('character_show', {name: 'Morty'}) }}">Show all Morties</a>
    </li>
</ul>
