{% extends 'base.html.twig' %}

{% block content %}

        <div class="flexcontainer flexcolumn">
            <a href="{{ path('character_index', { page: 1 }) }}">
                <div class="rambutton">
                    Characters
                </div>
            </a>
            <a href="{{ path('location_index') }}">
                <div class="rambutton">
                    Locations
                </div>
            </a>
{#            TODO: Replace paths below #}
            <a href="{{ path('location_index') }}">
                <div class="rambutton">
                    Dimensions
                </div>
            </a>
            <a href="{{ path('location_index') }}">
                <div class="rambutton">
                    Episodes
                </div>
            </a>
        </div>

{% endblock %}


